version: "3.7"

services:

  flask:
    build: ./flask
    container_name: flask
    restart: always
    environment:
      - APP_NAME=MyFlaskApp
    expose:
      - 8081
  
  nginx:
    build: ./nginx
    container_name: nginx
    restart: always
    ports:
      - "8080:8083"